   <VirtualHost *:80>
      ServerName localhost
      # !!! Be sure to point DocumentRoot to 'public'!
      DocumentRoot /opt/druw/public
      XSendFile on
      XSendFilePath /opt/xsendfile
      <Directory /opt/druw>
         # This relaxes Apache security settings.
         Allow from all
         AllowOverride None
         Order allow,deny
         # MultiViews must be turned off.
         Options -MultiViews
         # Uncomment this if you're on Apache >= 2.4:
         Require all granted
      </Directory>
      RailsBaseURI /
   </VirtualHost>

