 LoadModule passenger_module /usr/lib64/httpd/modules/mod_passenger.so
   <IfModule mod_passenger.c>
     PassengerRoot "{{ gems_home }}/passenger-{{ passenger_version }}"
     PassengerDefaultRuby /usr/local/bin/ruby
     #If mod_passenger > 5.0.2 uncomment the following
     PassengerInstanceRegistryDir /opt/passenger_temp
     PassengerDataBufferDir /opt/passenger_temp
     #If mod_passenger > 5.0.2 comment out the following
     #PassengerTempDir /opt/passenger_temp
   </IfModule>
